@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHospital.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="color: #449215 !important;
    font-style: italic;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;">
        Gestión Hospital
    </h1>
    <p>Sistema para gestionar médicos, pacientes y diagnósticos</p>
</div>
